.form__button {
	padding: 0;
	border: 0;
	cursor: pointer;
	transition: opacity .3s;
}

.form__button_type_search {
	background: #FF6838 url(../../../../images/search-icon.svg) no-repeat center;
	width: 80px;
	height: 34px;
	border-radius: 48px;
}

.form__button:hover {
	opacity: .8;
}