.header {
	min-height: 74px;
	padding: 0 70px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media (max-width: 874px) {
	.header {
		padding: 0 30px;
	}
}

@media (max-width: 767px) {
	.header {
		padding: 0 14px;
	}
}