.footer {
	min-height: 172px;
	background-color: #fafafa;
	padding: 79px 70px 20px;
	box-sizing: border-box;
}

.footer__font-style {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 1.23;
}

.footer__text {
	margin: 0 0 20px;
	text-align: center;
	color: #A0A0A0;
}

.footer__link {
	text-decoration: none;
	color: #000;
	transition: opacity .3s;
}

.footer__link:hover {
	opacity: .7;
}

.list_place_footer {
	margin: 0;
	display: flex;
	gap: 20px;
}

.list__item_place_footer {
	display: inline-block;
	margin: 0;
	cursor: pointer;
}

.footer__group {
	padding-top: 20px;
	display: flex;
	justify-content: space-between;
}

@media (max-width: 874px) {
	.footer {
		padding-left: 30px;
		padding-right: 30px;
	}
}

@media (max-width: 767px) {
	.footer {
		padding-left: 10px;
		padding-right: 10px;
	}
	.footer__group {
		flex-direction: column-reverse;
		justify-content: center;
		padding-top: 30px;
	}
	.footer__copyright {
		text-align: center;
	}
	.footer__font-style {
		font-size: 12px;
		line-height: 1.25;
	}
	.list_place_footer {
		flex-direction: column;
		gap: 12px;
		margin-bottom: 30px;
	}
	.list__item_place_footer {
		justify-content: center;
	}
}